{% extends 'core/object_detail.html' %}

{% block container %}
    {{ block.super }}

    <hr>

    {% if object.words.exists %}
    <a href="{% url 'core:training_create' %}?language={{ object.get_language.id }}&sections={{ object.id }}" class="btn btn-block btn-success">
        Тренировка
    </a>
    {% endif %}

    <a href="{% url 'core:word_create' %}?section={{ object.pk }}" class="btn btn-block btn-primary">
        Добавить слово
    </a>

    {% if object.words.all %}
        <br>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Слово</th>
                    <th>Перевод</th>
                    <th>Транскрипция</th>
                </tr>
            </thead>
            <tbody>
                {% for word in object.words.all %}
                <tr>
                    <td>{{ word.name }}</td>
                    <td>{{ word.translation }}</td>
                    <td>{% if word.transcription %}[{{ word.transcription }}]{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}